.trending-row {
  padding-inline-start: 1rem;

  @media screen and (width >= 48em) {
    padding-inline-start: 1.625rem;
  }

  @media screen and (width >= 75em) {
    padding-inline-start: 0;
  }
}

.row-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.31px;

  @media screen and (width >= 48em) {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }
}

.card-container {
  --swiper-navigation-color: var(--color-white);

  margin-block-start: 1rem;

  @media screen and (width >= 48em) {
    margin-block-start: 1.56rem;
  }
}

.swiper-slide {
  width: fit-content !important;
}
