.trending-row {
  padding-block-end: 2.25rem;
  padding-block-start: 1.5rem;
  padding-inline: 1rem;

  @media screen and (width >= 48em) {
    padding-block-end: 2.75rem;
    padding-block-start: 2.5rem;
    padding-inline: 1.625rem;
  }

  @media screen and (width >= 75em) {
    padding-inline-end: 2.5rem;
    padding-inline-start: 0;
  }
}

.row-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.31px;

  @media screen and (width >= 48em) {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }
}

.card-container {
  margin-block-start: 1rem;

  @media screen and (width >= 48em) {
    margin-block-start: 1.625rem;
  }
}

.swiper-slide {
  width: fit-content;
}
