@import url('./reset.css');

:root {
  --color-dark-blue: hsl(233deg 30% 9%);
  --color-greyish-blue: hsl(223deg 23% 46%);
  --color-red: hsl(0deg 97% 63%);
  --color-semi-dark-blue: hsl(223deg 36% 14%);
  --color-white: hsl(0deg 0% 100%);
  --font-size-body-md: 0.9375rem;
  --font-size-body-sm: 0.8125rem;
  --font-size-heading-lg: 2rem;
  --font-size-heading-md: 1.5rem;
  --font-size-heading-sm: 1.5rem;
  --font-size-heading-xs: 1.125rem;
  --font-weight-light: 200;
  --font-weight-medium: 500;
}

html {
  background-color: var(--color-dark-blue);
}

body {
  color: var(--color-white);
  font-family: var(--font-outfit);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-light);
}

.page-container {
  @media screen and (width >= 75em) {
    display: grid;
    grid-template-areas: 'nav main';
    grid-template-columns: 10.25rem minmax(0, 1fr);
    min-width: 0;
  }
}

header {
  @media screen and (width >= 75em) {
    grid-area: nav;
  }
}

main {
  @media screen and (width >= 75em) {
    grid-area: main;
    min-width: 0;
    overflow: hidden;
  }
}

.heading-lg {
  color: var(--color-white);
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-light);
}

.heading-md {
  color: var(--color-white);
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-light);
}

.heading-sm {
  color: var(--color-white);
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-medium);
}

.heading-xs {
  color: var(--color-white);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-medium);
}

.body-md {
  font-size: var(--font-size-body-md);
}

.body-sm {
  font-size: var(--font-size-body-sm);
}

.search-container {
  margin-block-start: 1.625em;
  margin-inline: 1em;

  @media screen and (width >= 48em) {
    margin-block-start: 2.3em;
    margin-inline: 1.5em;
  }

  @media screen and (width >= 75em) {
    margin-block-start: 4em;
    margin-inline-start: 0;
  }
}

input {
  caret-color: var(--color-red);
  font-size: 16px;
  font-size: max(16px, 1rem);
}

input[type='search']::placeholder {
  color: rgb(255 255 255 / 50%);
  font-size: 1rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0;

  @media screen and (width >= 48em) {
    font-size: 1.5rem;
  }
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}
