@import url('./reset.css');

:root {
  --color-dark-blue: hsl(233deg 30% 9%);
  --color-greyish-blue: hsl(223deg 23% 46%);
  --color-red: hsl(0deg 97% 63%);
  --color-semi-dark-blue: hsl(223deg 36% 14%);
  --color-white: hsl(0deg 0% 100%);
  --font-size-body-md: 0.9375rem;
  --font-size-body-sm: 0.8125rem;
  --font-size-heading-lg: 2rem;
  --font-size-heading-md: 1.5rem;
  --font-size-heading-sm: 1.5rem;
  --font-size-heading-xs: 1.125rem;
  --font-weight-light: 200;
  --font-weight-medium: 500;
}

html {
  background-color: var(--color-dark-blue);
}

body {
  color: var(--color-white);
  font-family: var(--font-outfit);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-light);
}

.page-container {
  margin-block-end: 3.25rem;

  @media screen and (width >= 75em) {
    display: grid;
    grid-template-areas: 'nav main';
    grid-template-columns: 10.25rem minmax(0, 1fr);
    min-width: 0;
  }
}

header {
  @media screen and (width >= 75em) {
    grid-area: nav;
  }
}

main {
  @media screen and (width >= 75em) {
    grid-area: main;
    min-width: 0;
    overflow: hidden;
  }
}

.search-container {
  margin-block-start: 1.625em;
  margin-inline: 1em;

  @media screen and (width >= 48em) {
    margin-block-start: 2.3em;
    margin-inline: 1.5em;
  }

  @media screen and (width >= 75em) {
    margin-block-start: 4em;
    margin-inline-start: 0;
  }

  & + .trending-row {
    padding-block-start: 1.625rem;

    @media screen and (width >= 48em) {
      padding-block-start: 2.1875rem;
    }
  }

  & + .videos-section {
    padding-block-start: 1.625rem;

    @media screen and (width >= 48em) {
      padding-block-start: 2.125rem;
    }

    @media screen and (width >= 75em) {
      padding-block-start: 2.1875rem;
    }
  }
}

.trending-row + .videos-section {
  padding-block-start: 1.5rem;

  @media screen and (width >= 48em) {
    padding-block-start: 2.5rem;
  }
}

.videos-section + .videos-section {
  padding-block-start: 1.5rem;

  @media screen and (width >= 48em) {
    padding-block-start: 3rem;
  }

  @media screen and (width >= 75em) {
    padding-block-start: 2.5rem;
  }
}

input {
  caret-color: var(--color-red);
  font-size: 16px;
  font-size: max(16px, 1rem);
}

input[type='search']::placeholder {
  color: rgb(255 255 255 / 50%);
  font-size: 1rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0;

  @media screen and (width >= 48em) {
    font-size: 1.5rem;
  }
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

.bookmark-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  transition: 220ms all ease-in-out;
}

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
