@import url('./reset.css');

:root {
  --color-dark-blue: hsl(233deg 30% 9%);
  --color-greyish-blue: hsl(223deg 23% 46%);
  --color-red: hsl(0deg 97% 63%);
  --color-semi-dark-blue: hsl(223deg 36% 14%);
  --color-white: hsl(0deg 0% 100%);
  --font-size-body-md: 0.9375rem;
  --font-size-body-sm: 0.8125rem;
  --font-size-heading-lg: 2rem;
  --font-size-heading-md: 1.5rem;
  --font-size-heading-sm: 1.5rem;
  --font-size-heading-xs: 1.125rem;
  --font-weight-light: 200;
  --font-weight-medium: 500;
}

html {
  background-color: var(--color-dark-blue);
}

body {
  color: var(--color-white);
  font-family: var(--font-outfit);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-light);
}

.heading-lg {
  color: var(--color-white);
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-light);
}

.heading-md {
  color: var(--color-white);
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-light);
}

.heading-sm {
  color: var(--color-white);
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-medium);
}

.heading-xs {
  color: var(--color-white);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-medium);
}

.body-md {
  font-size: var(--font-size-body-md);
}

.body-sm {
  font-size: var(--font-size-body-sm);
}
